.footer {
   width: 100%;
   min-height: 400px;
   background-image: url('../../img/footer-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
   color: var(--white-color);
   position: relative;
}

.footer__conteiner {
   display: flex;
   justify-content: space-between;
}

.footer__part:not(:last-child) {
	margin-right: 10px;
}

.footer__part{
   max-width: 350px;
   margin-top: 80px;
}

.shop-descr__title {
   font-family: 'PlayfairDisplay-Regular','Times New Roman', Times, serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 40px;
}
.shop-descr__text {
   font-family: 'PTSans-Regular',sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
   width: 100%;
}

.categories__title {
   font-family: 'PlayfairDisplay-Regular','Times New Roman', Times, serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 40px;
}
.categories__buttons {
   display: flex;
   flex-wrap: wrap;
}
.categories__buttons button {
   margin-right: 20px;
   margin-bottom: 20px;
}

.mailing__title {
   font-family: 'PlayfairDisplay-Regular','Times New Roman', Times, serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 40px;
}
.mailing__text {
   font-family: 'PTSans-Regular',sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
   margin-bottom: 35px;
}
.subs-form {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 42px;
}
.subs-form__field {
   width: 60%;
	height: 100%;
	padding-left: 13px;
}
.subs-form__btn {
   width: 40%;
	height: 100%;
   text-transform: uppercase;
   padding: 10px 4%;
   margin-bottom: 25px;
}

.footer-2 {
   width: 100%;
   height: 50px;
   background-color: #0F0F0F;
   color: var(--white-color);
   position: relative;
}

.footer__copy {
   padding-right: 20px;
}

.bottom__container {
   display: flex;
   justify-content: space-between;
   padding-top: 14px;
   font-family: 'PlayfairDisplay-Regular','Times New Roman', Times, serif;
   font-size: 12px;
   line-height: 16px;
   color: #D0D0D0;
}
